services:
  picoclaw-gateway:
    build:
      context: .
      dockerfile: Dockerfile
   # container_name: picoclaw-gateway
    restart: unless-stopped
    profiles:
      - gateway
    volumes:
      # Configuration file
      - ../files/config.json:/root/.picoclaw/config.json:ro
      # Persistent workspace (sessions, memory, logs)
      - picoclaw-workspace:/root/.picoclaw/workspace
    command: ["gateway"]

volumes:
  picoclaw-workspace:
